%table.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th User
      %th Name
      %th Description
      %th State
      %th Date
      - if current_user && current_user.admin?
        %th Edit

  - @tasks.each do |t|
    %tbody
      %tr
        %td= t.id
        %td= t.user.email
        %td= t.name
        %td= t.description
        %td= t.state
        %td= l(t.created_at, format: :long)
        - if current_user && current_user.admin?
          %td= link_to 'Edit', edit_task_path(t)
