!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title TaskManager
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar",
            "aria-expanded" => "false", "data-target" => "#navbar",
            "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_url, class: 'navbar-brand' do
            TaskManager
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            = nav_link 'Home', root_url
            - if current_user
              = nav_link 'My Tasks', user_tasks_path(current_user)

          - if current_user
            = form_tag(sessions_path, method: :delete,
              class: 'navbar-form navbar-right') do
              = button_tag "Sign out (#{ current_user.email })",
                type: :submit, class: 'btn btn-default'
          - else
            = form_for(Forms::Session.new, as: :session,
              url: sessions_path, method: :post,
              html: { class: 'navbar-form navbar-right' }) do |f|
              .form-group
                = f.text_field :email, class: 'form-control',
                  placeholder: 'Email'
              .form-group
                = f.password_field :password, class: 'form-control',
                  placeholder: 'Password'
              = f.button 'Sign in', type: :submit, class: 'btn btn-success'

    .container
      .row
        - if flash.any?
          .col-md-12
            = render partial: 'web/shared/flash', locals: { flash_type: :error, alert_class: :danger }
            = render partial: 'web/shared/flash', locals: { flash_type: :notice, alert_class: :success }

        .col-md-12
          = yield

    %script{ :src => "/assets/jquery/dist/jquery.min.js" }
    %script{ :src => "/assets/jquery-ujs/src/rails.js" }
    %script{ :src => "/assets/bootstrap/dist/js/bootstrap.min.js" }
