!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title TaskManager
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_url, class: 'navbar-brand' do
            TaskManager
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            = nav_link 'Home', root_url

    .container
      = yield

    %script{ :src => "/assets/jquery/dist/jquery.min.js" }
    %script{ :src => "/assets/jquery-ujs/src/rails.js" }
    %script{ :src => "/assets/bootstrap/dist/js/bootstrap.min.js" }
